@use 'var';
@use 'general';


header {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: var.$gray-100;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    .logo{
        float:left;
        text-align: center;
        line-height: 60px;
        font-size: 36px;
        padding: 0 20px;
        color: var.$pastel-red;
        font-weight: 700;
        text-decoration: none;
    }
    nav {
        float: right;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            li {
                list-style: none;
                a {
                    display: block;
                    margin: 10px 0;
                    padding: 10px 20px;
                    text-decoration: none;
                    
                    &.active,
                    &:hover {
                        background: var.$gray-60;
                        color: #fff;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    .clear {
        clear: both;
    }
}

#items {
    flex: 1;
    margin-top: 120px;
    
    .flex-cont {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
        .card {
            flex-basis: auto;
            position: relative;
            width: 360px;
            height: auto;
            background: #191919;
            border-radius: 20px;
            overflow: hidden;

            &.added {
                .container .favorite-btn {
                    background: var.$pastel-red;
                    color: #fff;
                }
            }

            .phone {
                height: 350px;
                width: auto;
            }
        
            &::before {
                content: "";
                position: absolute;
                top: -50%;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgb(207, 214, 230), rgb(231, 239, 249));
                transform: skewY(345deg);
                transition: 0.5s;
            }
            &:hover::before {
                top: -70%;
                transform: skewY(390deg);
            }
            &::after {
                content: "Aco Web Solution";
                position: absolute;
                bottom: 0;
                left: 0;
                font-weight: 600;
                font-size: 4em;
                color: rgba(0,0,0,0.1);
            }
            .img-container {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
                z-index: 1;
            }
            .container {
                position: relative;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 2;
                h1 {
                    font-size: 18px;
                    color: #f5f5f5;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                .price {
                    font-size: 24px;
                    color: white;
                    font-weight: 700;
                    letter-spacing: 1px;
                }

                .favorite-btn {
                    position: relative;
                    top: 0;
                    opacity: 1;
                    padding: 10px 30px;
                    margin-top: 15px;
                    color: #000000;
                    text-decoration: none;
                    background: linear-gradient(rgb(207, 214, 230), rgb(231, 239, 249));
                    border-radius: 30px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: 0.5s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 150px;
    height: 10vh;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;    
    p {
        margin: 0;
        color: #6c757d;

        a {
            color: #007bff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
